AzureADF/pipeline/pl_call_sp.json
{
	"name": "pl_call_sp",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "declare @wbsCount int\nexecute sp_GetwbsCount @{pipeline().parameters.p_cd} ,@wbsCount output\nselect @wbsCount as wbsCount",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sinkDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_sp",
						"type": "DataFlowReference",
						"parameters": {
							"p_output": {
								"value": "'@{activity('Lookup1').output.firstRow}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "ir-azure-DataFlow",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			}
		],
		"parameters": {
			"p_cd": {
				"type": "string"
			}
		},
		"annotations": []
	}
}