AzureADF/pipeline/pl_copytablestocsv.json
{
	"name": "pl_copytablestocsv",
	"properties": {
		"activities": [
			{
				"name": "CopyForEachTable",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToStorage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@variables('v_query')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sourceTable",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"p_table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sourceCSV",
									"type": "DatasetReference",
									"parameters": {
										"p_sourceName": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set query",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_query",
								"value": {
									"value": "SELECT * FROM @item().table",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_tableList": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "WBS_COST_ELEMENT"
					},
					{
						"schema": "dbo",
						"table": "FORECAST_LOAD"
					}
				]
			}
		},
		"variables": {
			"v_query": {
				"type": "String"
			}
		},
		"folder": {
			"name": "obachilo"
		},
		"annotations": []
	}
}