AzureADF/pipeline/pl_copytablestocsv.json
{
	"name": "pl_copytablestocsv",
	"properties": {
		"activities": [
			{
				"name": "CopyForEachTable",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToStorage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "Db2Source",
									"query": {
										"value": "@variables('v_query')",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sourceDB2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sourceCSV",
									"type": "DatasetReference",
									"parameters": {
										"p_sourceName": {
											"value": "@variables('v_filename')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set query",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_filename",
								"value": {
									"value": "SELECT * FROM @item().filename",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_tableList": {
				"type": "array",
				"defaultValue": [
					{
						"query": "SELECT * FROM CNMN.COUNTRIES",
						"filename": "source_1.csv"
					},
					{
						"query": "SELECT * FROM CNMN.COST_ELEMENT",
						"filename": "source_2.csv"
					}
				]
			},
			"p_VIEW": {
				"type": "string"
			}
		},
		"variables": {
			"v_query": {
				"type": "String"
			},
			"v_filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "obachilo"
		},
		"annotations": []
	}
}